
<div class="content">
    <button  mat-raised-button color="primary" class="btns" (click)="back()">Back</button>

    <form [formGroup]="loginForm" *ngIf="!showForgotPasswordForm" >
        <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    
        <div >
            
            <button  mat-raised-button color="primary" (click)="login()">Login</button>
            <button  mat-raised-button color="primary" *ngIf="forgetPassword" (click)="forgotPassword()">Forgot Password</button>
            <a routerLink="/owner/ownerSignUp"  mat-raised-button color="accent">New Owner</a>
        </div>
    
        
    </form>
</div>


<form [formGroup]="forgotPasswordForm" *ngIf="showForgotPasswordForm">
    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label> Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>

    <div>
        <button  mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
    
</form>

