<button mat-raised-button color="primary" (click)="back()">Back</button>
<mat-card>
    <mat-card-header>
        <h2>Owner Sign Up Form</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signUpForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-hint *ngIf="!signUpForm.get('name')?.touched">Please Enter Name Here</mat-hint>
                <mat-error
                    *ngIf="signUpForm.get('name')?.errors?.['minlength'] && !signUpForm.get('name')?.errors?.['pattern']">
                    Minimum 5 characters are required
                </mat-error>
                <mat-error *ngIf="signUpForm.get('name')?.errors?.['pattern']">
                    pattern should match
                </mat-error>
                <mat-error *ngIf="signUpForm.get('name')?.errors?.['whiteSpace']">
                    Name entered is containing white space
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mobile No</mat-label>
                <input matInput formControlName="mobileNo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field><br><br>
            <mat-radio-group formControlName="gender" aria-label="Select an option ">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-raised-button color="primary" (click)="submit()">Submit</button>

            </div>
        </form>

    </mat-card-content>

</mat-card>